<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@zaydek/duomo@0.7.0-rc.31/dist/extended.min.css">
</head>

<body class=" hstack ">
    <div class="vstack space-10">
        <div class="hstack space-10">
            <div class="vstack w-auto h-320 bg-white rounded-12 shadow shadow-lg p-28">
                <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                <div class="vstack align-start mt-20 space-8 h-144">
                    <div class="text-48 text-500 text-black" style="font-size: 24px;">$10</div>
                    <div class="text-14 text-400 text-black">Pasar Tomato Pack</div>
                    <div class="text-14 text-200 text-gray-500">6 per pack</div>
                    <div class="spacer"></div>
                    <div class="hstack w-full">
                        <svg class="w-36 h-36" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        <div class="spacer"></div>
                        <div class="text-18 text-blue-500" style="font-size: 18px;">Add to cart</div>
                    </div>
                </div>
            </div>
            <div class="vstack w-auto h-320 bg-white rounded-12 shadow shadow-lg p-28">
                <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                <div class="vstack align-start mt-20 space-8 h-144">
                    <div class="text-48 text-500 text-black" style="font-size: 24px;">$10</div>
                    <div class="text-14 text-400 text-black">Pasar Tomato Pack</div>
                    <div class="text-14 text-200 text-gray-500">6 per pack</div>
                    <div class="spacer"></div>
                    <div class="hstack w-full">
                        <svg class="w-36 h-36" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        <div class="spacer"></div>
                        <div class="text-18 text-blue-500" style="font-size: 18px;">Add to cart</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hstack space-10">
            <div class="vstack w-auto h-320 bg-white rounded-12 shadow shadow-lg p-28">
                <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                <div class="vstack align-start mt-20 space-8 h-144">
                    <div class="text-48 text-500 text-black" style="font-size: 24px;">$10</div>
                    <div class="text-14 text-400 text-black">Pasar Tomato Pack</div>
                    <div class="text-14 text-200 text-gray-500">6 per pack</div>
                    <div class="spacer"></div>
                    <div class="hstack w-full">
                        <svg class="w-36 h-36" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        <div class="spacer"></div>
                        <div class="text-18 text-blue-500" style="font-size: 18px;">Add to cart</div>
                    </div>
                </div>
            </div>
            <div class="vstack w-auto h-320 bg-white rounded-12 shadow shadow-lg p-28">
                <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                <div class="vstack align-start mt-20 space-8 h-144">
                    <div class="text-48 text-500 text-black" style="font-size: 24px;">$10</div>
                    <div class="text-14 text-400 text-black">Pasar Tomato Pack</div>
                    <div class="text-14 text-200 text-gray-500">6 per pack</div>
                    <div class="spacer"></div>
                    <div class="hstack w-full">
                        <svg class="w-36 h-36" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        <div class="spacer"></div>
                        <div class="text-18 text-blue-500" style="font-size: 18px;">Add to cart</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hstack space-10">
            <div class="vstack w-auto h-320 bg-white rounded-12 shadow shadow-lg p-28">
                <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                <div class="vstack align-start mt-20 space-8 h-144">
                    <div class="text-48 text-500 text-black" style="font-size: 24px;">$10</div>
                    <div class="text-14 text-400 text-black">Pasar Tomato Pack</div>
                    <div class="text-14 text-200 text-gray-500">6 per pack</div>
                    <div class="spacer"></div>
                    <div class="hstack w-full">
                        <svg class="w-36 h-36" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        <div class="spacer"></div>
                        <div class="text-18 text-blue-500" style="font-size: 18px;">Add to cart</div>
                    </div>
                </div>
            </div>
            <div class="vstack w-auto h-320 bg-white rounded-12 shadow shadow-lg p-28">
                <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                <div class="vstack align-start mt-20 space-8 h-144">
                    <div class="text-48 text-500 text-black" style="font-size: 24px;">$10</div>
                    <div class="text-14 text-400 text-black">Pasar Tomato Pack</div>
                    <div class="text-14 text-200 text-gray-500">6 per pack</div>
                    <div class="spacer"></div>
                    <div class="hstack w-full">
                        <svg class="w-36 h-36" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        <div class="spacer"></div>
                        <div class="text-18 text-blue-500" style="font-size: 18px;">Add to cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<style>
    .screen {
        width: 100vw;
        height: 100vh;
    }
</style>