<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@zaydek/duomo@0.7.0-rc.35/dist/full.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>
    <nav class="sticky t-0 shadow shadow-lg hstack w-full p-12 bg-white">

        <div class="hidden md:unhidden">
            <div class=" hstack">
                <a href="marketplace.html" class="vstack align-start">
                    <div class="m-18 text-underline">Fresh Produce</div>
                </a>
                <a href="marketplace.html" class="vstack align-start">
                    <div class="m-18 text-underline">Dairy</div>
                </a>
                <a href="marketplace.html" class="vstack align-start">
                    <div class="m-18 text-underline">Meat</div>
                </a>
                <a href="marketplace.html" class="vstack align-start">
                    <div class="m-18 text-underline">Others</div>
                </a>
                <a href="login.html" class="vstack align-start">
                    <div class="m-18 text-red-600 text-underline">Log Out</div>
                </a>
            </div>
        </div>

        <div class="unhidden md:hidden group">
            <div class="zstack w-40 h-40">
                <div class="group vstack space-5">
                    <div class="h-2 w-36 bg-black rounded-full"></div>
                    <div class="h-2 w-36 bg-black rounded-full"></div>
                    <div class="h-2 w-36 bg-black rounded-full"></div>
                </div>
                <div class="hidden group-touch:unhidden place-bl transform y-100">
                    <div class="vstack w-192 bg-white rounded-5 overflow-hidden shadow shadow-px shadow-xs shadow-lg">
                        <a href="marketplace.html" class="vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full">
                            <div class="">Fresh Produce</div>
                        </a>
                        <a href="marketplace.html" class="vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full">
                            <div class="">Dairy</div>
                        </a>
                        <a href="marketplace.html" class="vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full">
                            <div class="">Meat</div>
                        </a>
                        <a href="marketplace.html" class="vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full">
                            <div class="">Others</div>
                        </a>
                        <a href="login.html" class="vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full">
                            <div class="text-red-600">Log Out</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer"></div>
        <a href="checkout.html">
            <svg class="w-36 h-36" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
        </a>
    </nav>

    <div class="container py-28">
        <div class="vstack md:hstack md:space-28 h-auto">
            <form>
                <div class="vstack space-28 my-28">
                    <div class="hstack w-384 h-128 bg-white shadow shadow-md">
                        <div class="spacer"></div>
                        <div class="w-80 h-80 bg-gray-200 rounded-12"></div>
                        <div class="spacer"></div>
                        <div class="spacer"></div>
                        <div class="vstack align-start h-80">
                            <div class="text-blackm mb-2">{{item.name}}</div>
                            <div class="text-gray-500 text-12 mt-2">{{item.price}}</div>
                            <div class="spacer"></div>
                            <div class="hstack space-5">
                                <input type="button" class="hstack w-28 h-28 bg-black rounded-full text-white buttons" value="-" />
                                <input type="text" class="w-48 h-28 bg-gray-300 border border-1 border-gray-400 text-center" value="1" />
                                <input type="button" class="hstack w-28 h-28 bg-black rounded-full text-white buttons" value="+" />
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="spacer"></div>
                        <div class="vstack h-80">
                            <div class="spacer"></div>
                            <div class="text-black">$20</div>
                        </div>
                        <div class="spacer"></div>
                    </div>
                </div>
            </form>
            <div class=" space-28 my-28 h-full bg-green-900">
                <form>
                    <div class="hstack w-384 h-64 bg-white shadow shadow-xl px-48 buttons">
                        <div class="">Checkout</div>
                        <div class="spacer"></div>
                        <div class=""><b>$90</b></div>
                    </div>
                </form>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</body>

</html>

<style>
    .buttons:active {
        box-shadow: var(--shadow-sm);
    }
    
    .buttons:hover {
        cursor: pointer;
    }
    
    .text-12 {
        font-size: 12px;
    }
    
    .text-center {
        text-align: center;
    }
    
     :root {
        --bg-color: #F2F2F2;
        --text-color: #2c3e50;
        --hover-color: #83A9BD;
        --title-color: #2c3e50;
    }
    
    body {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    
    .text-underline:hover {
        text-decoration: underline;
        display: inline-block;
    }
</style>