<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@zaydek/duomo@0.7.1/dist/production-full.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>
    <nav class="sticky t-0 shadow shadow-lg hstack w-full p-12 bg-white" style="z-index: 3;">
        <form action="/marketplace" method="POST">
            <div class="hidden md:unhidden">
                <div class=" hstack">
                    <input type="submit" name="navbar" value="Fresh Produce" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Dairy" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Meat" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Others" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Log Out" class="bg-white m-18 text-underline color-red-600 pb-1" />
                </div>
            </div>
        </form>

        <form action="/marketplace" method="POST">
            <div class="unhidden md:hidden group">
                <div class="zstack w-40 h-40">
                    <div class="group vstack space-5">
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                    </div>
                    <div class="hidden group-touch:unhidden place-bl transform translate-y-100">
                        <div class="vstack w-192 rounded-5 overflow-hidden shadow shadow-px shadow-xs shadow-lg">
                            <input type="submit" name="navbar" value="Fresh Produce" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Dairy" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Meat" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Others" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Log Out" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full color-red-600" />
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="spacer"></div>
        <a href="checkout">
            <svg class="w-36 h-36" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
        </a>
    </nav>
    <div class="zstack">
        <div class="container py-28">
            <div class="vstack md:hstack md:space-28 h-auto">
                <div class="w-full" id="example-1">
                    {% for item in items %} {% if item.promo_price == '-' or item.promo_price == None %}
                    <div>
                        <div class="vstack space-28 my-28 w-full px-28">
                            <div class="hstack w-full h-128 bg-white shadow shadow-md">
                                <div class="spacer"></div>
                                {% if item.image %}
                                <img src="{{ url_for('display_image', filename=item.image) }}"> {% else %}
                                <div class="w-80 h-80 bg-gray-200 rounded-12"></div>
                                {% endif %}
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                                <div class="vstack align-start h-80">
                                    <div class="color-black mb-2 w-144 ellipsis text-14">{{item.name}}</div>
                                    <div class="color-gray-500 text-12 mt-2">{{"$%.2f"|format(item.price)}}</div>
                                    <div class="spacer"></div>
                                    <div class="hstack space-5">
                                        <form action="/decrease_quantity" , method="POST">
                                            <button type="submit" class="hstack w-28 h-28 bg-black rounded-full color-white buttons" name="Minus" value="{{item.name}}">-</button>
                                        </form>
                                        <div class="vstack w-48 h-28 bg-gray-300 border border-1 border-gray-400 text-center">{{item.quantity}}</div>
                                        <form action="/increase_quantity" , method="POST">
                                            <button type="submit" class="hstack w-28 h-28 bg-black rounded-full color-white buttons" name="Plus" value="{{item.name}}">+</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                                <div class="vstack h-80">
                                    <div class="spacer"></div>
                                    <div class="text-black">{{item.quantity * item.price}}</div>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div>
                        <div class="vstack space-28 my-28">
                            <div class="hstack w-384 h-128 bg-white shadow shadow-md">
                                <div class="spacer"></div>
                                {% if item.image %}
                                <img src="{{ url_for('display_image', filename=item.image) }}"> {% else %}
                                <div class="w-80 h-80 bg-gray-200 rounded-12"></div>
                                {% endif %}
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                                <div class="vstack align-start h-80">
                                    <div class="text-blackm mb-2">{{item.name}}</div>
                                    <div class="text-14 text-400 text-black"><strike>{{"$%.2f"|format(item.price)}}</strike> {{"$%.2f"|format(item.promo_price)}}</div>
                                    <div class="spacer"></div>
                                    <div class="hstack space-5">
                                        <form action="/decrease_quantity" , method="POST">
                                            <button type="submit" class="hstack w-28 h-28 bg-black rounded-full color-white buttons" name="Minus" value="{{item.name}}">-</button>
                                        </form>
                                        <div class="vstack w-48 h-28 bg-gray-300 border border-1 border-gray-400 text-center">{{item.quantity}}</div>
                                        <form action="/increase_quantity" , method="POST">
                                            <button type="submit" class="hstack w-28 h-28 bg-black rounded-full color-white buttons" name="Plus" value="{{item.name}}">+</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                                <div class="vstack h-80">
                                    <div class="spacer"></div>
                                    <div class="text-black">${{item.quantity * item.promo_price}}</div>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}

                </div>
                <div class=" space-28 my-28 h-full bg-green-900">
                    <form action="/submitcart" method="POST">
                        <button class="hstack w-full h-64 bg-white shadow shadow-xl px-48 buttons">
                        <div class="">Checkout</div>
                        <div class="spacer"></div>
                        <div class=""><b>${{total}}</b></div>
                    </button>
                    </form>
                    <div class="spacer"></div>
                </div>
                {{feedback}}
            </div>
        </div>

        {% with messages=get_flashed_messages() %} {% if messages %}
        <div class="flashes">
            <div class="hstack">
                <div class="vstack w-full h-320 m-28 bg-white shadow-lg shadow rounded-24 p-48 align-start space-16">
                    <div class="hstack">
                        <div class="text-48 bold">Promotion!</div>
                        <div class="spacer"></div>
                        <a href="{{url_for('checkout')}}">
                            <svg class="w-28 h-28 color-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg></a>
                    </div>
                    <div class="text-28 regular">Wait, there's a new promotion! Come check out the exciting deals at the <a href="url_for('shop_cat')">marketplace!</a></div>
                </div>
            </div>
        </div>
        {% endif %} {% endwith %}
    </div>
</body>

</html>

<style>
    .buttons:active {
        box-shadow: var(--shadow-sm);
    }
    
    .buttons:hover {
        cursor: pointer;
    }
    
    .text-12 {
        font-size: 12px;
    }
    
    .text-center {
        text-align: center;
    }
    
     :root {
        --bg-color: #F2F2F2;
        --text-color: #2c3e50;
        --hover-color: #83A9BD;
        --title-color: #2c3e50;
    }
    
    body {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    
    .text-underline:hover {
        text-decoration: underline;
        display: inline-block;
        cursor: pointer;
    }
    
    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [{
                name: 'Pasar Tomato',
                price: '$2',
                info: '6 per pack'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }]
        }
    })
</script>