<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@zaydek/duomo@0.7.1/dist/production-full.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>
    <nav class="sticky t-0 shadow shadow-lg hstack w-full p-12 bg-white">
        <form action="/marketplace" method="POST">
            <div class="hidden md:unhidden">
                <div class=" hstack">
                    <a href="{{url_for('admin')}}">
                        <svg class="w-36 h-36" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                    <input type="submit" name="navbar" value="Rice" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Dairy" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Breads" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Eggs" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Fruits" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Fish" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Paper & Tissue" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Baking Needs" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Log Out" class="bg-white m-18 text-underline color-red-600 pb-1" />
                </div>
            </div>
        </form>
        <form action="/marketplace" method="POST">
            <div class="unhidden md:hidden">
                <div class="zstack w-40 h-40" onclick="hamburger()">
                    <div class=" vstack space-5">
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                    </div>
                    <div class="hidden group-touch:unhidden place-bl transform translate-y-100 bg-white" id="myLinks">
                        <div class="vstack w-192 rounded-5 overflow-hidden shadow shadow-px shadow-xs shadow-lg bg-white">
                            <input type="submit" name="navbar" value="Home" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Rice" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Dairy" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Breads" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Eggs" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Fruits" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Fish" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Paper & Tissue" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Baking Needs" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Log Out" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full color-red-600" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="spacer"></div>
        <a href="additems">
            <svg class="w-36 h-36" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
        </a>
    </nav>

    <div class="container py-28">
        <div class="align-self-stretch grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-12">
            {% for item in items %}
            <form action="/" , method="POST">
                <div class="vstack h-512 bg-white rounded-3 shadow shadow-md py-28 px-24">
                    <input type="submit" name="manipulate" class="bg-transparent text-18 color-blue-500 text-underline" style="font-size: 18px;" value="Change Image"> {% if item.image %}
                    <br>
                    <img src="{{ url_for('display_image', filename=item.image) }}"> {% else %}
                    <br>
                    <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                    {% endif %}
                    <div class="vstack align-start mt-20 space-8">
                        <div class="text-48 text-500 text-black" style="font-size: 24px;">{{item.name}}</div>
                        <div class="text-14 text-400 text-black">{{"$%.2f"|format(item.price)}} {% if (item.quantifier != "") and (item.quantifier != None) %}{{item.quantifier}}{% endif %}</div>
                        {% if (item.info != "") and (item.info != None) %}
                        <div class="text-14 text-200 text-gray-500">Exp: {{item.info}}</div>
                        {% endif %}
                        <div class="spacer"></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="vstack">
                        <div class="hstack space-28 w-full">
                            <div class="spacer"></div>
                            <input type="submit" name="manipulate" class="bg-transparent text-18 color-blue-500 text-underline" style="font-size: 18px;" value="Edit">
                            <input type="submit" name="manipulate" class="bg-transparent text-18 color-red-500 text-underline" style="font-size: 18px;" value="Delete">
                            <input type="hidden" name="itemid" value="{{item.id}}">
                            <div class="spacer"></div>
                        </div>

                    </div>

                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</body>

</html>

<style>
     :root {
        --bg-color: #F2F2F2;
        --text-color: #2c3e50;
        --hover-color: #83A9BD;
        --title-color: #2c3e50;
    }
    
    body {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    
    .text-underline:hover {
        text-decoration: underline;
        display: inline-block;
        cursor: pointer;
    }
</style>

<script>
    function hamburger() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>