<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@zaydek/duomo@0.7.1/dist/production-full.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% if addedToCart == True %}
    <script>
        $(document).ready(function() {
            $('#message').fadeIn('slow', function() {
                $('#message').delay(2000).fadeOut();
            });
        });
    </script>
    {% endif %}
</head>

<body>
    <nav class="sticky t-0 shadow shadow-lg hstack w-full p-12 bg-white" style="z-index: 3;">
        <form action="/marketplace" method="POST">
            <div class="hidden md:unhidden">
                <div class=" hstack">

                    <input type="submit" name="navbar" value="Fresh Produce" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Dairy" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Meat" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Others" class="bg-white m-18 text-underline pb-1" />
                    <input type="submit" name="navbar" value="Log Out" class="bg-white m-18 text-underline color-red-600 pb-1" />
                </div>
            </div>
        </form>
        <form action="/marketplace" method="POST">
            <div class="unhidden md:hidden group">
                <div class="zstack w-40 h-40">
                    <div class="group vstack space-5">
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                        <div class="h-2 w-36 bg-black rounded-full"></div>
                    </div>
                    <div class="hidden group-touch:unhidden place-bl transform translate-y-100">
                        <div class="vstack w-192 rounded-5 overflow-hidden shadow shadow-px shadow-xs shadow-lg">
                            <input type="submit" name="navbar" value="Fresh Produce" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Dairy" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Meat" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Others" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full" />
                            <input type="submit" name="navbar" value="Log Out" class="text-underline vstack align-start space-6 pl-24 py-28 touch:bg-gray-200 w-full color-red-600" />
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="spacer"></div>
        <a href="checkout">
            <svg class="w-36 h-36" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
        </a>
    </nav>
    <div class="zstack">
        <div id="message" class="fixed t-0" style="display: none;">
            <div class="vstack px-24 h-64 noti-full bg-red-300">
                <div class="">Added to cart!</div>
            </div>
        </div>

        <div class="container py-28" style="z-index: 1;">
            <div class="align-self-stretch grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-12">
                {% for item in items %} {% if item.promo_price == '-' or item.promo_price == None %}
                <form action="/addtocart" , method="POST">
                    <div class="vstack h-512 bg-white rounded-3 shadow shadow-md py-28 px-24">
                        {% if item.image %}
                        <img src="{{ url_for('display_image', filename=item.image) }}"> {% else %}
                        <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                        {% endif %}
                        <div class="vstack align-start mt-20 space-8">
                            <div class="text-48 text-500 text-black" style="font-size: 24px;">{{item.name}}</div>
                            <div class="text-14 text-400 text-black">{{"$%.2f"|format(item.price)}} {% if (item.quantifier != "") and (item.quantifier != None) %}{{item.quantifier}}{% endif %}</div>
                            {% if (item.info != "") and (item.info != None) %}
                            <div class="text-14 text-200 text-gray-500">Exp: {{item.info}}</div>
                            {% endif %}
                            <div class="spacer"></div>
                        </div>
                        <div class="spacer"></div>
                        <div class="vstack">
                            <div class="hstack space-4 w-full">
                                <div class="spacer"></div>
                                <svg class="w-28 h-28" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                        </svg>
                                <button class="text-underline addToCart" type="submit" name="Add2Cart" value="{{item.name}}">Add to Cart</button>
                                <div class="spacer"></div>
                            </div>

                        </div>

                    </div>
                </form>
                {% else %}
                <form action="/addtocart" , method="POST">
                    <div class="vstack h-512 bg-white rounded-3 shadow shadow-md py-28 px-24">
                        {% if item.image %}
                        <img src="{{ url_for('display_image', filename=item.image) }}"> {% else %}
                        <div class="w-112 h-112 bg-green-500 rounded-5"></div>
                        {% endif %}
                        <div class="vstack align-start mt-20 space-8">
                            <div class="text-48 text-500 text-black" style="font-size: 24px;">{{item.name}}</div>
                            <div class="hstack space-8">
                                <!--strikethrough promotional price-->
                                <strike><div class="text-14 text-400 text-black">{{"$%.2f"|format(item.price)}}</div></strike>
                                <!--promotional price here-->
                                <div class="text-14 text-400 text-black">{{"$%.2f"|format(item.promo_price)}} {% if (item.quantifier != "") and (item.quantifier != None) %}{{item.quantifier}}{% endif %}</div>
                                <div class="spacer"></div>
                            </div>
                            {% if (item.info != "") and (item.info != None) %}
                            <div class="text-14 text-200 text-gray-500">Exp: {{item.info}}</div>
                            {% endif %}
                            <div class="spacer"></div>
                        </div>
                        <div class="spacer"></div>
                        <div class="vstack">
                            <div class="hstack space-4 w-full">
                                <div class="spacer"></div>
                                <svg class="w-28 h-28" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                        </svg>
                                <button class="text-underline addToCart" type="submit" name="Add2Cart" value="{{item.name}}">Add to Cart</button>
                                <div class="spacer"></div>
                            </div>

                        </div>

                    </div>
                </form>
                {% endif %} {% endfor %}
            </div>
        </div>

        {% with messages=get_flashed_messages() %} {% if messages %}
        <div class="flashes hstack h-screen w-full" style="z-index: 2; position: fixed;">
            <div class="hstack">
                <div class="vstack w-full h-320 m-28 bg-white shadow-lg shadow rounded-24 p-48 align-start space-16">
                    <div class="hstack">
                        <div class="text-48 bold">Promotion!</div>
                        <div class="spacer"></div>
                        <svg class="w-28 h-28 color-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </div>
                    <div class="text-28 regular">Wait, there's a new promotion! Come check out the exciting deals at the <a href="{{url_for('shop_cat')}}">marketplace!</a></div>
                </div>
            </div>
        </div>
        {% endif %} {% endwith %}
    </div>

</body>

</html>

<style>
     :root {
        --bg-color: #F2F2F2;
        --text-color: #2c3e50;
        --hover-color: #83A9BD;
        --title-color: #2c3e50;
    }
    
    body {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    
    .text-underline:hover {
        text-decoration: underline;
        display: inline-block;
        cursor: pointer;
    }
    
    .noti-full {
        width: 100vw;
    }
    
    .screen {
        width: 100vw;
        height: 100vh;
    }
</style>