<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@zaydek/duomo@0.7.1/dist/production-full.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <nav class="sticky t-0 shadow shadow-lg hstack w-full p-12 bg-white">
        <a href="{{url_for('teacher')}}">
            <svg class="w-36 h-36" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
        </a>

        <div class="spacer"></div>

    </nav>
    <div class="container py-28">
        <div class="vstack screen">
            <div class="text-36">Submitted Carts</div>
            <div class="container py-28">
                <!--form class="px-28 pb-28" action="/deletestudentsubmitted" , method="POST"-->
                <button onclick="testing(value);" class="text-underline color-red-600 w-full bg-white rounded-3 shadow shadow-md p-28 mb-28" name="theaction" value="Remove All Submitted Carts">Remove All Submitted Carts</button>
                <!--/form-->
                <div class="w-full vstack md:hstack md:space-28 h-auto">
                    <div id="example-1" class=" vstack space-28 px-28">
                        {% for student in students %}
                        <div class="vstack w-full bg-gray-200 p-28 space-28 align-start rounded-28 ">
                            <div class="text-28">{{student.name}}</div>
                            <div class="align-self-stretch grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                                {% if student.name not in set_existing_students %}
                                <div class="text-20">Not Yet Submitted</div>
                                {% else %} {% for item in data if item.acc == student.name %}{% for item_promo in items_promo %}
                                <div class="vstack space-8 align-start w-full bg-white shadow shadow-md p-16">

                                    {% if item.name == item_promo[1].name %}
                                    <div class="text-20 ellipsis w-full">{{item.name}}</div>
                                    <div class="text-14">Price: {{"$%.2f"|format(item_promo[0].promo_price)}}</div>
                                    <div class="text-14">Quantity: {{item.quantity}}</div>
                                    <div class="text-14 bold">Total: {{"$%.2f"|format(item.quantity * item_promo[0].promo_price)}}</div>
                                    <div class="spacer"></div>
                                    {% else %}
                                    <div class="text-20 ellipsis w-full">{{item.name}}</div>
                                    <div class="text-14">Price: {{"$%.2f"|format(item.price)}}</div>
                                    <div class="text-14">Quantity: {{item.quantity}}</div>
                                    <div class="text-14 bold">Total: {{"$%.2f"|format(item.quantity * item.price)}}</div>
                                    <div class="spacer"></div>
                                    {% endif %} {% endfor %}

                                </div>{% endfor %} {% endif %}
                                <div class="mt-28">Total Amount Spent: {{ "$%.2f"|format(student.totalamount) }}</div>
                            </div>
                        </div>
                        {% endfor %}
                        <form class=" pt-28 w-full" action="/viewsubmittedcarts" , method="POST">
                            <button type="submit" class="text-underline color-green-600 w-full bg-white rounded-3 shadow shadow-md p-28" name="theaction" value="Refresh">Refresh</button>
                        </form>
                    </div>
</body>

</html>

<style>
    .buttons:active {
        box-shadow: var(--shadow-sm);
    }
    
    .buttons:hover {
        cursor: pointer;
    }
    
    .text-12 {
        font-size: 12px;
    }
    
    .text-center {
        text-align: center;
    }
    
     :root {
        --bg-color: #F2F2F2;
        --text-color: #2c3e50;
        --hover-color: #83A9BD;
        --title-color: #2c3e50;
    }
    
    body {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    
    .text-underline:hover {
        text-decoration: underline;
        display: inline-block;
        cursor: pointer;
    }
    
    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [{
                name: 'Pasar Tomato',
                price: '$2',
                info: '6 per pack'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }, {
                name: 'Celery',
                price: '$4',
                info: 'Single celery'
            }]
        }
    })

    function testing(duh) {
        swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover them!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    deletus(duh);
                    swal("Your files have been deleted!", {
                        icon: "success",
                    }).then(function() {
                        window.location.href = '/viewsubmittedcarts'
                    })
                } else {

                }
            });
    }

    function deletus(objectss) {
        $.ajax({
            url: "/deletestudentsubmitted",
            type: "POST",

        })
    }
</script>